:root {
    --background-color: #F5E9D4;
    --text-color: #374045;
    --accent-color: #DAA588;
    --highlight-color: #f1c27bd8;
    --secondary-color: #808080;
}

#myCanvas {
    background-color: var(--background-color);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color);
    padding: 0px 0px 0px 20px;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Gaegu', cursive;
    background-color: var(--secondary-color);
}

.nav_left {
    font-size: 25px;
    padding: auto;
}

.nav_menu {
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
}

.nav_right {
    display: flex;
}

.nav_menu li {
    padding: 5px 20px;
    list-style: none;
    font-size: 25px;
}

.nav_menu li:hover a {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px;
}

.nav_right li {
    padding: 5px 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.burgger_button {
    display: none;
    position: absolute;
    right: 10px;
}

@media screen and (max-width: 500px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 20px;
    }

    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .nav_menu li {
        width: 100%;
        text-align: center;
    }

    .nav_right {
        display: none;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .burgger_button {
        display: block;
    }

    .nav_menu.active,
    .nav_right.active {
        display: flex;
    }
}
